<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MuseumBot</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
  <div class="wrap">
  <header>
    <h1 class="logo"><a href="#">Museum Information</a></h1>
    <h3 class="page-title"></h3>
  </header>
  <section class="container">
    <div class="page-control">
      <a href="#" class="link-prev">
        <i class="material-icons">chevron_left</i>
        <span>이전</span>
      </a>
      <div class="paging">{{ session['stage'] }}/4</div>
      <a href="#" class="link-next">
        <span>다음</span>
        <i class="material-icons">chevron_right</i>
      </a>
    </div>
    <div class="flex">
      <div class="title">{{ session['title'] }}</div>
        <!--Knowledge Graph-->
        <iframe id="kgbase" width="100%" height="97%" frameborder="0" src="" scrolling="no" style="overflow: hidden; margin-bottom: 5px;">지금 사용하고 계신 브라우저는 프레임을 지원하지 않습니다. 마인드마이스터
          <a href="https://www.mindmeister.com/1979179677/_" target="_blank"></a>
        </iframe>
        <div class="mb-5">
          <a href="https://www.mindmeister.com/1979179677/_" target="_blank"></a>
          <a href="https://www.mindmeister.com/users/channel/71570687" target="_blank"></a></div>
    </div>
  </section>
  </div>
  <footer>@ Soft Computing & Interaction Lab. | GIST</footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
  <script src="../static/js/jquery-1.11.2.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/paging.js') }}"></script>
  <script>
    const result = JSON.parse(localStorage.getItem("cast"));
    var el = document.getElementById("kgbase");
    el.src = result['graph_url'];
  </script>
</body>
</html>
