<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MuseumBot</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
  <div class="wrap">
  <header>
    <h1 class="logo"><a href="#">Museum Information</a></h1>
    <h3 class="page-title"></h3>
  </header>
  <section class="container">
    <div class="page-control">
      <a href="#" class="link-prev">
        <i class="material-icons">chevron_left</i>
        <span>이전</span>
      </a>
      <div class="paging">{{ session['stage'] }}/4</div>
      <a href="#" class="link-next">
        <span>다음</span>
        <i class="material-icons">chevron_right</i>
      </a>
    </div>
    <div class="flex">
      <article class="gallery-container">
        <div class="scroll-area">
          <div class="img-area">
            <img id="img-id" src="{{ url_for('static', filename='image/1.jpg') }}" alt="유물이미지">
          </div>
          <div class="description">
            <div class="title">{{ session['title'] }}</div>
            <br>
            <ul class="description-list">
              <li>ITEM 1</li>
              <li>ITEM 2</li>
              <li>ITEM 3</li>
              <li>ITEM 4</li>
            </ul>
            <div class="text-area">
              해설 텍스트 위치
            </div>
          </div>
        </div>
      </article>
      <article class="chat-container">
        <div class="chat-thread">
          <ul class="chat-list">
            <li class="chatbot">
              <span class="material-icons">smart_toy</span>
                  무엇을 질문하시겠습니까?
            </li>
          </ul>
        </div>
        <div class="chat-input">
          <input type="text" id="question-text" placeholder="질문을 입력하세요.">
          <button id="btn-question">질문하기</button>
        </div>
      </article>
    </div>
  </section>
  </div>
  <footer>@ Soft Computing & Interaction Lab. | GIST</footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
  <script src="../static/js/jquery-1.11.2.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/paging.js') }}"></script>
  <script src="js/chat.js"></script>
  <script>

    const question  = function() {
      const question = $('#question-text').val();
      const title = $('.title').text();
      if (question.length > 0) {
        $('.chat-list').append(`
      <li class="me">
        <span class="material-icons">face</span>
        ${question}
      </li>
    `)
        $(".chat-thread").animate({scrollTop: $('.chat-list').height()}, 1000);
      $.ajax({
        type: 'POST',
        async: false,                                  <!--[GET / POST] 둘중 하나 선택-->
        url: '/get_answer',
        data: {
          'question_id': question,
          'title': title
        },
        dataType: 'json',
        success: function (result) {
          //alert("result = " + jQuery.type(result['imgs']));
          //answer(result)    // 답변 출력 (result == 답변 내용)
          answer(result['answer'], result['imgs'])
        },
        error: function (xtr, status, error) {
          alert(xtr + ":" + status + ":" + error);
        }

      });

      }

    }

    const answer = function(bot_answer, imgs){
      const answer = bot_answer//{{bot_answer|tojson}};
      const img_list = imgs
      if(answer.length > 0){
        if(img_list.length != 0 ){
          //이미지+ 챗봇 답변 출력
          $.each(img_list, function(i, value){
            $('.chat-list').append(`
              <li class="chatbot">
                <span class="material-icons">smart_toy</span>
                  <img src="../static/related_image/${value[1]}" width="200px">
                  <br>${value[0]}
              </li>
            `)
          });
        }
        // 챗봇 답변 출력
        $('.chat-list').append(`
          <li class="chatbot">
              <span class="material-icons">smart_toy</span>
              ${answer}
          </li>
        `)
        $('#question-text').val('')     // 텍스트 입력창 내용 지우기
      }
      $(".chat-thread").animate({ scrollTop: $('.chat-list').height() }, 1000);
    }

    /*const answer = function(bot_answer, imgs){
      const answer = bot_answer//{{bot_answer|tojson}};
      const img_list = imgs
      if(answer.length > 0){
        if(img_list.length != 0 ){
          // 이미지 있는 경우 이미지 먼저 출력
          var img_obj =  `<span>`;
          $.each(img_list, function(i, value){
            img_obj+=`<img src="${value}" width="33%">`;
          });
          img_obj +=  `<span>`;
          //var img_obj = `<img src="${img_list[0]}" width="30%">`
        }
        // 챗봇 답변 출력
        $('.chat-list').append(`
          <li class="chatbot">
              <span class="material-icons">smart_toy</span>
              ${img_obj}<br>${answer}
          </li>
        `)
        $('#question-text').val('')     // 텍스트 입력창 내용 지우기
      }
      $(".chat-thread").animate({ scrollTop: $('.chat-list').height() }, 1000);
  }
*/
  $('#btn-question').on({
  click: question,
  // mouseup: question,
  keyup:function(key) {
    if(key.keyCode==13) {
      question()
    }
  }
  });

  $('#question-text').on({
  keyup:function(key) {
    if(key.keyCode==13) {
      question()
    }
  }
  });

  </script>
</body>
</html>